title: Added an RSS feed
date: December 15, 2019 14:47
---
<p>
I just added a really simple RSS feed to syndicate my website! Add
<a href="http://m-chrzan.xyz/rss.xml"><code>m-chrzan.xyz/rss.xml</code></a> to
your favorite RSS reader and you'll get updates whenever I post something new.
</p>
