title: Books Read in 2021
date: January 17, 2022
---
<p>
Here's a list of books I read this past year. As mentioned at the end of
<a href='<%= path_to 'blog_books-read-in-2020' %>'>last year's post</a>, I
started out the year with quite a few positions finished cover-to-cover, but as
the amount of time I needed to spend on work and my thesis increased during the
year, there were a few months where I had no time at all for leisure reading. By
the end of the year I once again started finding more time for reading and
decided to jump into Plato's works.
</p>

<p>
Anyways, here's the list:
</p>

<p>
<ol>
  <li>
    <p>
    <b>The Shallows</b>, Nicholas G. Carr. Words of warning about how the
    internet and computer technologies negatively affect our lives. In my
    opinion, Carr's takes aren't quite spicy enough, and the Ellul book
    mentioned below gives a much fuller picture of how cautious we should be of
    technology. That said, this might work as a decent wake up call for anyone
    not quite yet ready to jump into 300 pages of dense sociology that Ellul
    presents.
    </p>
  </li>
  <li>
    <p>
    <b>The Great Gatsby</b>, F. Scott Fitzgerald. Finally got around to reading
    this classic.
    </p>
  </li>
  <li>
    <p>
    <b>The Enchiridion</b>, Epictetus. A very quick read, works as a nice
    summary of the stoic position.
    </p>
  </li>
  <li>
    <p>
    <b>Foundation</b>, Isaac Asimov. Finally got around to reading this sci-fi
    classic.
    </p>
  </li>
  <li>
    <p> <b>The Technological Society</b>, Jacques Ellul. I actually started
    reading this in 2020 but didn't get far, picked it up and finished the rest
    of the way in 2021. A very good read, highly recommended reading if at any
    point you've run across Ted Kaczynski's manifesto and any part of it
    intrigued you.
    </p>

    <p>
    Ellul takes a deep dive into how technology (or more generally,
    <i>technique</i>, which by his definition is any process that is the best
    currently known for achieving a particular goal) has interacted with and
    changed our humanity.
    </p>
  </li>
  <li>
    <p>
    <b>First Philosophers</b> (second half, on the sophists), Robin
    Waterfield. As mentioned in last year's post, I read half of this in 2020.
    Honestly the first half on the presocratics was much more interesting. Now,
    at the end of 2021, I don't remember much from the sophists at all.
    </p>
  </li>
  <li>
    <p>
    <b>Can Life Prevail</b>, Pentti Linkola. A much more radical take on
    what it means to "save the envrionment" than what you'll hear on TV. Linkola
    spent his life studying the declining health of European forests and bird
    life, and fishing using traditional methods. He speaks about nature from the
    point of view of a brother, not a virtue signaling committee.
    </p>
  </li>
  <li>
    <p>
    <b>Crisis of the Modern World</b>, René Guénon. Though written in the
    1920s, the symptoms of crisis Guénon described have only grown stronger by
    the 2020s. He ends up dealing with some of the same subjects as the Ellul
    book mentioned previously, but from the point of view of esoterics and
    tradition rather than technology.
    </p>
  </li>
  <li>
    <p>
    Plato's dialogues. I'm reading from the version of his complete works edited
    by John M. Cooper and D. S. Hutchinson. I haven't officially committed to
    going through the whole thing, I'll just keep going until I'm bored and
    decide to switch to something else. Here's the dialogues I got through this
    year:
    <ol>
      <li>
        <p> <b>Euthyphro</b>. Happens days before Socrates' trial. Socrates
        and Euthyphro discuss the meaning of piety and justice.
        </p>
      </li>
      <li>
        <p>
        <b>Socrates' apology</b>. Plato's rendition of Socrates defending
        himself in court against the charges of impiety and corruption of the
        youth.
        </p>
      </li>
      <li>
        <p>
        <b>Crito</b>. Socrates' friend visits him in prison, trying to convince
        him to attempt an escape before his execution. Socrates explains, much
        to Crito's disappointment, why it would be improper for him to do so.
        </p></li>
      <li>
        <p>
        <b>Phaedo</b>. Several of Socrates' friends visit him the day of his
        execution. Socrates attempts to lift their spirits with a discussion
        about death and the afterlife, before (spoiler alert) drinking the
        kool-aid.
        </p></li>
      <li>
        <p>
        <b>Theaetetus</b>. Socrates speaks with a young student of philosophy
        about the nature of knowledge. They try out a few different potential
        definitions, unhappy with each, arriving at absurdities and
        contradictions with each attempt. This dialogue has an overall very
        conversational and even light-hearted style, while getting into some
        really complex and dense case analysis at times.
        </p>
      </li>
    </ol>
  </li>
</ol>
</p>
