title: "Book notes: Vagabonding by Rolf Potts"
date: August 31, 2020
---
<p>
Really enjoyed this short volume on long term travel. It resonates with my
belief (one that runs counter to what most people these days seem to believe,
and definitely counter to how they behave) that a career should not be the
central piece of one's life. It also challenges any person who says they
believe this (such as myself) to <i>prove</i> that they actually believe it.
</p>

<p>
Long term travel, the sort that isn't just plain tourism, is something I've had
in the back of my mind for a while. This read definitely pushed it farther
forward in my mind &mdash; who knows, maybe I'll end up in Asia or South
America for a few months after I'm done with university.
</p>

<h3>Quotes</h3>

<p>
(many of these are from other sources, quoted by Rolf; he's quite the quote
aggregator!)
</p>

<p>
These first three quotes are basically on that philosophy I mentioned above,
that if you feel a personal need for more to life than the modern day to day,
don't let the material world hold you down.
<blockquote>
    we end up spending (as Thoreau put it) "the best part of one's life earning
    money in order to enjoy a questionable liberty during the least valuable
    part of it."
</blockquote>

<blockquote>
    This notion &mdash; that material investment is somehow more important to
    life than personal investment &mdash; is exactly what leads so many of us to
    believe we could never afford to go vagabonding.
</blockquote>

<blockquote>
    Vagabonding sage Ed Buryn knew as much: "By switching to a new game, which
    in this case involves vagabonding, time becomes the only possession and
    everyone is equally rich in it by biological inheritance."
</blockquote>
</p>

<p>
On spontaneity, unplanned travel (what Nassim Taleb would call <i>flânerie</i>
over tourism).
<blockquote>
    John Muir used to say that the best way to prepare for a trip was to "throw
    some tea and bread into an old sack and jump over the back fence."
</blockquote>
</p>

<p>
On planning a little bit, after all.
<blockquote>
    And, as Phil Cousineau pointed out in <i>The Art of Pilgrimage</i>, I tend
    to believe that "preparation no more spoils the chance for spontaneity and
    serendipity than discipline ruins the opportunity for genuine
    self-expression in sports, acting, or the tea ceremony."
</blockquote>
</p>

<p>
On "seeing beyond the guidebook" (from Mark Twain's <i>The Innocents
    Abroad</i>).
<blockquote>
    "The pilgrims will tell of Palestine, when they get home, not as it appeared
    to <i>them</i>, but as it appeared in [the guidebooks]."
</blockquote>
</p>
