title: Books Read in 2020
date: February 02, 2021 22:35
---
<p>
If memory serves me right, I read around 10 books last year. Here's the list,
with a few words about each entry.
</p>

<p>
<ol>
    <li>
        <p><b>Moby Dick</b>, Herman Melville. The Great American Novel. Haven't
        actually quite finished this one, but I've gotten most of the way
        through it, so feels more appropriate to include it in the 2020 list
        rather than the 2021 one (I do intend on finishing this book).</p>
        <p>Interestingly, despite its length, I found it fairly easy to pick the
        book up midway after a longer pause from reading it. This might be due
        to quite a different structure compared to the more modern novels I'm
        used to. Though it happens mostly chronologically, it's not really a
        linear, continuous story where you have to keep track of the plot and
        characters. Instead, you're presented with short vignettes of whaling
        life (and, sometimes, everyone's favorite cetology lectures).</p>
    </li>
    <li>
        <p><b>Się</b>, Edward Stachura. A collection of short stories by the
        Polish poet, one of his last published works before his suicide two
        years later. The stories are mostly set in travels around both Poland
        and the American continent.</p>
    </li>
    <li>
        <p><b>The First Philosophers</b>, Robin Waterfield. Guess you could say
        I'm finally starting with the Greeks (I did read The Republic the year
        prior, reading it was an interesting experience but I'm sure a lot of it
        went way over my head at the time).</p>
        <p>Like Moby Dick, I haven't quite finished the whole book yet &mdash;
        I read the first half on the presocratics, but will need to get back to
        the part on the sophists at some point.
    </li>
    <li>
        <p><b>Fight Club</b>, Chuck Palahniuk. Probably shouldn't talk about
        this one much, but man, this is the first time in a while a book sucked
        me in this strongly. A literal page turner that kept me awake late into
        the night.</p>
    </li>
    <li>
        <p><b>Antifragile</b>, Nassim Taleb. Very glad I finally got around to
        reading something from Taleb.</p>
    </li>
    <li>
        <p><b>Zen and the Art of Motorcycle Maintenance</b>, Robert M. Pirsig.
        Another foray into philosophy, though definitely more modern than the
        Greeks. It wasn't until I was about halfway through the book that I
        found out it's mostly autobiographical rather than pure fiction.</p>
    </li>
    <li>
        <p><b>Vagabonding</b>, Rolf Potts. I've published extended reading
        notes <a href='<%= path_to "blog_book-notes-vagabonding" %>'>here</a>.
        </p>
    </li>
    <li>
        <p><b>The Sovereign Individual</b>, James Dale Davidson and William
        Rees-Mogg. Widely popular amongst and recommended by Bitcoin/blockchain
        fans.</p>
    </li>
    <li>
        <p><b>Brave New World</b>, Aldous Huxley. Probably my favorite
        dystopian novel I've read so far.</p>
    </li>
    <li>
        <p><b>Thinking, Fast and Slow</b>, Daniel Kahneman. An interesting (and
        long!) volume on how our brains work.</p>
    </li>
</ol>
</p>

<p>
Interestingly, in the first month alone of 2021, I've already read nearly half as
many new books. Granted, none of them were quite as long as, say, Antifragile or
the Kahneman book, but still a welcome metric. Off to more reading, now!
</p>
