title: Don't Fall For Fear Propaganda
date: August 27, 2021 01:08
---
<p>
I was recently traveling from a busy US airport. If you've been to a larger
American airport in recent years, you may have noticed, near the security line,
a bunch of booths from this company called Clear. They essentially allow you to
exchange your personal information, including a biometric scan of your iris, in
exchange for quicker processing through TSA security. (and they also take a
monthly subscription fee, billed annually, so you pay even for months you're not
traveling in)
</p>

<p>
When I got to the airport, I was a little annoyed because the line through the
security check looked really long. I had lots of spare time arriving at the
airport, so I wasn't worried about missing my flight, but standing in an airport
line is never fun.
</p>

<p>
What annoyed me more, however, were Clear employees shouting as loud as they
could, for everyone in the security line to hear, that "you're going to miss
your flight!", "you're going to have to wait through this entire security
line!", unless you enroll with Clear (which is quick, easy, and <i>only</i>
requires you to give away a scan of your personally identifiable biometric data
to some new, overfunded tech company).
</p>

<p>
I was initially annoyed by this just because I'm not sympathetic to either
marketing or privacy violating technologies. But I got really mad when I
realized that

<ol>
  <li> the line was actually moving really fast; </li>
  <li>
    the spacer tape appeared to deliberately be set up in a way that made
    the line visually appear as long as possible.
  </li>
</ol>

What I mean by the second point is that there was an entire row of unutilized
space that the line could have been directed to, but that row was the one
<i>furthest away</i> from the spot you enter the security line from. This made
it seem like there was an entire additional long bend to the line. Was this
collusion between Clear and airport staff? I don't know. But Clear definitely
capitalized on this illusion.
</p>

<p>
Like I said, the line was moving quickly, there were many TSA lines open
processing a lot of people at a time. The Clear employees, standing by the line
for hours at a time, would have known this, but of course they're going to use
the scary looking queue as a fear tactics marketing opportunity. I got through
the line in about 30 minutes, which is a perfectly reasonable amount of safety
margin time any air traveler will include in their schedule.
</p>

<h3> Moral of the story </h3>
<p>
When you're being marketed something on the basis of fear (or on any basis,
really, but especially when your emotional instincts might be exploited), take
the time to really consider whether the bogeyman you're supposed to fear
actually exists and is that scary. I'm sure you'll find other situations where
similar logic applies.
</p>
