title: I Don't Believe in the Snooze Button
date: March 31, 2021 13:42
---
<p>
I never understood the purpose of a snooze button. The default behavior, on both
physical alarm clocks and now on phone apps, is to give you 5-10 minutes before
the alarm sounds again. Supposedly to give you a time for a "snooze" &mdash;
meaning a short sleep, a nap.
</p>

<p>
But "sleeping" for 5 minutes, after already having been awoken by a loud alarm,
is useless, at least in my experience. If I have 5 minutes left before I know
the alarm will sound again, I'll a) not have time to actually fall asleep again,
b) spend the whole time angry at the alarm knowing it will start buzzing again
any second now. Any difference in grogginess between getting up immediately and
after the 5 minutes would be insignificant, so might as well get up without the
snooze.
</p>

<h3>How I snooze</h3>

<p>
The above is not to say that I'm the perfect human who is always able to wake up
full of energy no matter how early my alarm is set. But instead of torturing
myself with 5 minute fragments of back-and-forth between trying to force myself
to pass out and a blaring alarm, I take an actual nap.
</p>

<p>
If I wake up sleep deprived and I know I can delay my morning by at least half
an hour (or maybe skip whatever first commitment I had, assuming it's lower
priority than me not being a zombie all day), I'll set a fresh alarm half an
hour (or more if I'm more groggy and have a wider margin available) ahead. That
is usually enough time to actually fall asleep and actually start the day with a
clearer mind.
</p>

<p>
The most baffling use of a snooze button to me is people saying that it's normal
for them to wake up after hitting "snooze" several times. If you're able to stay
in bed for several snooze button hits without missing any absolutely critical
scheduled events, you should forget the snooze button and do what I do &mdash;
set an alarm that gives you time for a real nap.
</p>
