title: I Made a Songbook
date: September 16, 2021 15:18
---
<p>
A bit over a year ago I started exploring the world of Polish traditional music.
I might write a post later talking more about my journey with that, but for
today I just want to talk about a project related to this that I created last
weekend: <a href='https://tuturutu.net'>tuturutu.net</a>.
</p>

<p>
Quick word of warning: it's 100% in Polish, so you probably won't get much use
out of it if you're not a Polish speaker. Even if you are, you probably still
won't get much use out of it if you're not interested in traditional music.
</p>

<p>
In this post I'll go over three things: the <i>what</i>, the <i>why</i>, and the
<i>how</i> of tuturutu.net.
</p>

<h3>What is tuturutu.net?</h3>

<p>
Right now the website is just a simple listing of a few songs from Polish
villages, mostly the types that would be sung at a wedding, or otherwise related
to the concept of love. I got most of the lyrics at a week-long workshop I went
to a year ago.
</p>

<p>
Most of the lyrics also have short sheet music notating the main vocal melody.
For the most part, these are transcribed by ear by me, hopefully there aren't
any inaccuracies. That said, the sheet music is only provided for reference, and
honestly should not be used to learn the songs. Classical notation is an
imperfect tool for this purpose, as in the real world the melodies often vary
from performer to performer and freedoms can be taken with both rhythm and
pitches. The best way to learn is to listen to performances (if possible, live
performances; and in those cases, bonus points if it's in an environment where
you can <i>join</i> the singing, not just listen to it like at a concert,
further bonus points if you're dancing while doing it).

<p>
Where I could find them, recordings from YouTube or Bandcamp are linked.
</p>

<p>
Each song is downloadable as an individual PDF for convenient offline storage,
or for printing individual songs for distribution to a group learning them.
</p>

<p>
On the main page, there's also a PDF that's a songbook containing all of the
songs. This is, in my opinion, the main "product" on the website. All the song
pages on the website are nice if you need to quickly look something up, but if
you're going to be needing the songbook at a party, it's probably best to
download the whole thing and use that (it looks good on large screen ereaders,
and has a clickable index). Very printable, too!
</p>

<h3>Why did I build this?</h3>

<p>
Primarily just for myself. In the recent months I'd been going to some parties
where this sort of traditional music would be played, but when trying to Google
some of the lyrics I would hear people singing, I wasn't able to find anything.
Additionally, the lyrics I did have from the workshop I mentioned before were
stored in my phone's camera's folder as photos I took of somebody else's phone
screen showing a photo from a Facebook post of a laptop screen with a Word
document open. Seriously. They weren't easy to find and definitely weren't
searchable. So if I couldn't rely on lyrics websites that already exist, I
decided I need to create something of my own. And the nice thing is, my website
can be as clean as I want it to be, rather than a bloated mess of newsletter
popups, cookie preferences, and flashing ads.
</p>

<p>
As mentioned above, the sheet music on the website is not really provided for
anyone to use to learn the melodies. Instead, since currently I myself am the
target audience of this website, the sheet music is there to remind <i>me</i>
the melodies if I ever forget them (which I sometimes do). If anyone else finds
them useful, great. Again, I do recommend learning by ear instead.
</p>

<p>
For now the website is just a small index of a few songs I know. If I have the
time and motivation (or funding/volunteers), I would love to expand it to a much
wider and more general archive of this sort of music.
</p>

<p>
The songbook will probably receive a field test in the coming days, as the next
edition of the workshop I went to last year is coming up, and we might end up
using tuturutu.net as the "official" songbook.
</p>

<h3>How is tuturutu.net implemented technically?</h3>

<p>
Just like this website, tuturutu.net is a static site. I adapted the
<a href='<%= git 'website' %>'>Ruby script that generates this website</a> to
build the songbook website, which is simpler in some ways, and more complex in
others. Instead of a list of blog articles written in (potentially templated)
HTML, the sonbgook website has, for each song, up to three files:

<ol>
  <li> <code>song.txt</code>: a plain text file with the lyrics </li>
  <li>
    <code>song.ly</code>: a(n optional) Lilypond source file notating the
    melody. <a href='http://lilypond.org/'>Lilypond</a> is a music notation
    language with a compiler that beautifully engraves it as sheet music to
    various formats.
  </li>
  <li>
    <code>song.yaml</code>: a metadata file that contains information like
    the song's title or links to recordings. In the future these might also
    contain important tags like the genre of music, region from which the song
    originates, etc.
  </li>
</ol>
</p>

<p>
The Lilypond files are compiled into SVG images that are then displayed on
individual songs' pages, PDFs, as well as the main songbook PDF. The PDFs
themselves are compiled from LaTeX templates.
</p>

<p>
Future additions to the website will probably include a search feature, tags,
and, if enough songs are added, multiple songbooks that represent curated
collections, rather than just the one that lists all the songs on the website.
</p>
