title: It's not Social Media - It's Marketing Media
date: June 28, 2021 18:27
---
<p>
Richard Stallman has said that social media sites don't have users &mdash; they have
<em>useds</em>. The primary reason for sites like Facebook to exist is to
generate revenue for the company (obviously), and they do so by using their
webpage as a terminal for advertisements. To maximize revenues, users (useds)
are incentivized and otherwise manipulated to stay online, giving as much
eyeball time to the ads as possible.
</p>

<p>
Much has been said about how social media companies achieve this maximization
from a psychological point of view. Dopamine-inducing "likes", targeting users
with news/messages that will cause strong emotions (such as anger) to keep them
engaged, things like that. But what is the real technical innovation that
has made social media so irreplaceable in many people's lives, even those that
are rational enough to see that those previously mentioned "incentives" are
negatives for their lives?
</p>

<p>
The basic functionality that a social media platform like Facebook offers its
users is a non-intrusive broadcast to all your friends and family.  Now, the
"broadcast to all your friends and family" is supposedly the "social" part of
social media. But what do I mean by "non-intrusive"? I mean that, on Facebook,
your life updates don't necessitate a reply, don't start personal conversations
(at best, just a stream of "Congratulations!" or "Thoughts and prayers..."
comments), and it's not rude to just completely ignore them.
</p>

<p>
Before, to announce a new baby or invite friends to party, you had to manage
your own contacts list.
</p>

<p>
You would send postcards from vacation to a few select people, now you just post
the best pictures you got taken of yourself to Facebook, maybe with a witty
caption, and the best one of them all might even be worthy of Instagram.
</p>

<p>
Instead of discussing clever and/or silly ideas with your buds and a beer in
hand, you post them on Twitter, hoping for retweets and likes rather than a
conversation partner.
</p>

<p>
So while social media has made all sorts of social interactions much more time
and energy efficient than phone calls, email, snail mail, and real life
conversations, it also has replaced all these social interactions with much less
social alternatives. Additionally, we have to realize that most of the content
on "social" media isn't even social &mdash; it's marketing!
</p>

<p>
Any platform that allows non-personal broadcast &mdash; like Facebook pages or
any account on asymmetrical follow platforms (Instagram, Twitter) &mdash;
becomes a marketing platform rather than a social platform. Even without the
concept of promoted posts, Instagram has influencers and paid posts. Twitter is
all about thought leaders preaching their takes, politicians jumping at each
other's throats, and celebrities gossiping out in the open. TikTok perfected the
promotion algorithms to launch the careers of thousands of self-made 5-second
comedians and snake-oil salesmen.
</p>

<p>
"Perfecting the promotion algorithm" is something you do to build an advertising
platform, not a human social network.
</p>

<p>
Stop calling it social media. It's marketing media.
</p>
