title: Krupnik Recipe - Polish Honey Liqueur
date: August 11, 2019
---
<p>
I've recently started playing around with making <em>nalewkas</em> - traditional
Polish liqueurs based on vodka/neutral spirits infusion. 
</p>

<p>
The only good recipes I've seen are in Polish, so wanted to share some with the
English speaking world.
</p>

<p>
In this post I'll give a recipe for <em>krupnik staropolski</em>
<sup id='ref-1'>
    <a href='#note-1'>1</a>
</sup>.
</p>

<h3>Ingredients:</h3>
<p>
(makes a 16oz. Mason jar of liqueur)
<ul>
    <li>vodka or neutral spirits mixed with water to desired alcohol content</li>
    <li>4oz. honey </li>
    <li>spices:
        <ul>
            <li>5-10 cloves</li>
            <li>3-7 allspice berries</li>
            <li>½ stick of cinnamon</li>
            <li>3-7 whole cardamom pods</li>
            <li>others as you like! (star anise, nutmeg, vanilla beans or
                extract, whole peppercorns, etc.)</li>
        </ul>
    </li>
    <li>fresh ginger</li>
    <li>juice from half a lemon</li>
    <li>lemon peel</li>
    <li>orange peel</li>
</ul>
One thing to note is that nalewka making is not an exact science. Pick and
choose the spices. Adjust amounts to your liking. Experiment and have fun!
</p>

<h3>Steps</h3>
<h4>Stage 1: Preparation (10-30 minutes)</h4>
<ol>
    <li>Boil honey in pot.</li>
    <li>The honey should have separated. Remove the top foamy layer.</li>
    <li>Pour the liquid honey into jar.</li>
    <li>Add rest of ingredients to jar.</li>
    <li>Fill the rest of the way up with alcohol.</li>
    <li>Shut jar and find spot to store.</li>
</ol>
<h4>Stage 2: Infusion + Filtration (~2 weeks+)</h4>
<ol>
    <li>
        Let sit. For like 2 weeks or so. This is where the alcohol mixes with
        honey and becomes infused with flavors from the spices.
    </li>
    <li>Pour through strainer and throw away the solids.</li>
    <li>
        Filter through several layers of gauze or a coffee filter. This is to
        remove that nasty layer of sediment at the bottom of the otherwise
        beautifully golden liquid.<sup id='ref-2'><a href='#note-2'>2</a></sup>
    </li>
</ol>

<h4>Stage 3: Aging (1 week - multiple years)</h4>
<p>
Finally, it's good to let the krupnik sit on a shelf at least a few days before
drinking. If you try it right after the infusion stage, you might notice it
still reeking of ethanol and being hard on your taste buds and throat.
</p>

<p>
With time, the liqueur will become very smooth and all the flavors will mix and
complement each other.
</p>

<h3>Related posts</h3>
<ul>
  <li><a href='<%= path_to "blog_malinówka" %>'>Malinówka recipe</a></li>
</ul>


<p id='note-1'>
    <a href='#ref-1'>1.</a> Not to be confused with the tasty Polish grain soup.
</p>

<p id='note-2'>
    <a href='#ref-2'>2.</a> Honestly, sometimes I skip this step because I'm too
    lazy. I'll just pour the liquid out to a new jar and stop pouring when the
    sediments start mixing with the good stuff.
</p>
