title: "Linked Brain Clone: A Problem of Consciousness Thought Experiment"
date: May 25, 2021 15:11
---
<p>
Here's a thought experiment I haven't heard before. I'm not sure if it's novel,
but even if it isn't, it's definitely less well known than the popular thought
experiments about cloning and the nature consciousness.
</p>

<p>
The question of whether it is possible to preserve a person's mind and
consciousness is a well known idea in speculative fiction and transhumanist
thought, as well as touching on more general philosophy and the hard problem of
consciousness.
</p>

<p>
The first thought experiment to consider is one many people have already played
around with on their own. What happens when you create a perfect copy of a
brain? If you copy a brain, molecule by molecule, atom by atom, even
electrical charge by electrical charge to achieve the same state, will the
object you create be conscious? Would it have the same memories and ideas as the
source brain?
</p>

<p>
Assuming no hidden metaphysics that somehow breathe consciousness into our human
beings, the intuitive answer to the above questions seems to be yes. If our
intelligence, memories, etc., are all just based on brain structures and
electrical charges within the brain, a perfect copy should function exactly the
same as the original.
</p>

<p>
Now suppose we clone your entire body, brain and guts and all. Is this clone
also "you"? I think the intuitive answer here is that no, it isn't.  You would
end up with two different seats of consciousness. Each with exactly the same
memories and ideas, but still different individuals, like identical twins on
steroids. You wouldn't be able to see through your clone's eyes, hear their
thoughts. If you were killed, it's not like your consciousness would be
preserved in your clone's body.
</p>

<p>
This so far has been fairly common thought experiments that probably most fans
of sci-fi had encountered at one point or another. This is for example related
to a common depiction of teleportation, in which the teleportee's body is
perfectly scanned and destroyed on one end, then rebuilt molecule by molecule
as an identical copy on the other end. Personally I would never use such a
device &mdash; while I might appear as the same "he" to my friends after
teleportation, I don't see any reason to believe the person on the other end
would be the same "I", and I myself would be dead.
</p>

<p>
Now comes the "linked brain" part. What if the clone, instead of being built as
a separate person standing next to you, was initially built as an
<em>extension</em> of you? What happens if  we first build a second brain
attached to your own? Let's say the two brains are connected at the brain stem,
allowing for communication between them. We create a siamese twin for you,
joined at your brain stem and we give some time for your
consciousness to "spread" to both brains.
</p>

<p>
Eventually, we separate the two copies. Which one is now "you"? Who is the other
person and at which point did they become a second consciousness?
</p>

<p>
Maybe split brain studies can shed some intuitions on these questions. In
certain experiments, split brain patients appear to be inhabited by two separate
conscious entities where there once was one. Maybe there's no such thing as
consciousness and "conscious" thought is just a weird sensory artefact.
</p>

<p>
<em>I</em> for one definitely feel like I have a singular (though multi-faceted)
"I" inside of me. But maybe I'm just not enlightened.
</p>

<h3>Addendum</h3>

<p>
I guess this thought experiment could also be a modified to an "upload your
brain to a computer" variant. Suppose we can perfectly simulate a brain inside a
supercomputer. Let's also assume we have a perfect brain-computer interface (the
1000th generation of Neuralink) and we link a living human brain to a simulated
replica of a brain on a super computer. Can these merge into a single
consciousness? What happens when you unplug?
</p>
