title: Lock-down workouts
date: May 08, 2020 16:37
---
<p>
I bought a 14kg kettlebell for myself just as the coronavirus situation was
escalating into lock down here in Poland. I wrote up a simple exercise plan to
follow every week and have been following it for over a month now. Gotta stay in
motion while the world has seemingly stopped!
</p>

<p>
I'm definitely not a fitness expert, and I'm sure this program is far from
perfect. But it hits most of the major muscle groups, is an energizing way to
start each day, and definitely gets me sweaty, so I'll use that as a metric of
it being sufficient for now.
</p>

<h3>Workout A: Upper</h3>
<ul>
    <li>
        Push-ups 3xFailure (this is around 20 for me, up from 10 at the
        beginning of lockdown)
    </li>
    <li> Kettlebell shoulder press 3x7 per arm </li>
    <li> Kettlebell row 3x12 per arm </li>
</ul>

I do the push-ups on a slight decline from a stool.

<h3>Workout B: Lower and Core</h3>
<ul>
    <li> Plank 3x1:45 </li>
    <li> Kettlebell swings 3x1:45 </li>
    <li> Kettlebell goblet squats 3x12 </li>
</ul>

I superset the planks and swings.

<p>
I also throw in chin-ups or pull-ups throughout the day on both workouts.
</p>

<p>
I alternate these workouts for five days a week, with two rest days a week.
</p>

<h3>Thoughts</h3>
<ul>
    <li>
        I definitely can recommend getting a kettlebell. If you get the right
        weight for you (the recommended starter weights are 16kg for men, 8kg
        for women), it's a single piece of equipment that can be used for a wide
        range of exercises. A very affordable option in general, and especially
        right now while gyms are closed.
    </li>
    <li>
        If you've never touched a kettlebell before, Pavel Tsatsouline's
        <a href='https://www.youtube.com/watch?v=cKx8xE8jJZs'>
            Enter the Kettlebell
        </a> is a great starting point, going over general use and the most
        popular exercises.
    </li>
    <li>
        Working out is not just for getting in shape, but will also have a very
        positive impact on mental well-being. It can be especially useful now as
        a way of jump-starting days in lock-down.
    </li>
    <li>
        Doing something is better than doing nothing. I don't recommend
        following my plan - it's based entirely on intuition, what feels good,
        and the equipment I have available. If you find any other home workout
        plan that seems to suit your likes - follow it. Then again if you don't,
        following mine or whatever plan you come up with for yourself is going
        to be better than nothing.
    </li>
</ul>
