title: Malinówka - Raspberry Nalewka Recipe
date: August 12, 2019
---
<p>
Here's another nalewka you can make. This one is extremely simple and produces a
very sweet, fruity liqueur. 
</p>

<h3>Ingredients:</h3>
<p>
<ul>
    <li>raspberries</li>
    <li>vodka or neutral spirits mixed with water to desired alcohol content</li>
    <li>sugar</li>
</ul>
Yep, that's it, just three ingredients.
</p>

<h3>Steps</h3>
<h4>Stage 1: Preparation (3 minutes)</h4>
<p>
<ol>
    <li>Fill jar with raspberries.</li>
    <li>Cover raspberries with alcohol.</li>
    <li>Shut jar and find spot to store.</li>
</ol>
Did I mention it's extremely simple to make?
</p>

<h4>Stage 2: Infusion (~2 weeks+)</h4>
<p>
Let sit for about two weeks, giving the jar a good shake once a day.
With time, the liquid will become a deep, clear red.
</p>

<h4>Stage 3: Maceration (~1 week+)</h4>
<p>
<ol>
    <li>Pour through strainer. Store liquid in a bottle or another jar.</li>
    <li>Throw raspberries back into jar. Cover with sugar.</li>
    <li>
        Like really cover them. Give the jar a few good shakes and add more
        sugar.
    </li>
    <li>Let sit again for a few days, shaking once a day.</li>
</ol>

The sugar will start breaking down the fruit, and you'll end up with a jar-full
of sweet, fruity syrup.

<h4>Stage 4: Aging  (1 week - until the heat death of the universe)</h4>
<ol>
    <li>
        Pour contents of jar through strainer. Throw away whatever solids remain
        of the fruits.
    </li>
    <li>Combine this syrup with the previously set aside raspberry alcohol.</li>
    <li>
        Let sit for at least a few days or weeks. As with the krupnik, the
        mixture will become smoother with shelf time.
    </li>
</ol>

If you want to be really fancy, you can filter this to get a perfectly clear
liquid, but personally I don't find that necessary.

<h3>Related posts</h3>
<ul>
  <li><a href='<%= path_to "blog_krupnik" %>'>Krupnik recipe</a></li>
</ul>
