title: On Zuck's Metaverse &#x2014; Ads Everywhere
date: November 25, 2021 14:06
---
<p>
First off, let's just call it VR. "Metaverse" is a brand name invented to
separate current efforts from the previously failed hype around VR. The reasons
VR has failed before are interesting of themselves, but more on that in a future
post. Here I want to talk about Zuck's ideas for social VR and what I think
about the whole concept.
</p>

<p>
VR as a social and communication medium, which appears to be Zuck's focus, and
is likely to end up being one of the widest VR markets in terms of number of
users and overall man-hour usage time, is not progress in any way. It doesn't
actually introduce any new features that would make life better. It will never
replace real world human connections as Zuck seems to imply it can. At least not
until we reach Matrix-levels of simulation, but that comes with a whole host of
other obvious problems.
</p>

<p>
Remember &mdash;
<a href='<%= path_to "blog_its-not-social-media-its-marketing-medial" %>'>
  it's not social media, it's marketing media</a>. VR social media is simply
a huge investment of developer time, and a trade off of internet bandwidth, to
squeeze extra attention and shopfront-facing time from users. VR is fancy,
engaging, and can probably be made to be even more addicting than the current
flat phone screens.  Just like it's hard to take your eyes off of a flashing TV
screen, even if you're not actively interested in what's currently on, it will
be difficult for the people that plug themselves into VR to take the headset
off. Zuck talked a lot about interoperability of "metaverse" systems: this is
also going to be useful from a profits perspective, by seamlessly guiding users
(<i>useds</i> in Stallmanian terms) from a chat with friends to purchasing a new
product.
</p>

<p>
Internet ads already replaced magazine, newspaper, radio, and to an extent even
TV ads. By building a simulated world for people to spend time in and move
around, Zuck (and other VR investors) could now also steal market share from
highway billboards, sidewalk posters, and other places we encounter marketing
while moving around the physical world.
</p>

<p>
That's all there is to it. If you see Zuck investing billions into a new effort,
remember that it's to see a return on investment. And for a marketing product
like Facebook, returns come from sapping human attention.
</p>
