title: Small Big Sites
date: December 29, 2019 10:32
---
<p>
NPR.org pleasantly surprised me when I randomly entered their site to read an
article recommended to me.  Upon clicking the link, a full-page privacy advisory
greeted me. "We use cookies to personalize your content bla bla bla". Two large
buttons awaited below the wall of text, waiting on a choice from me, the user.
</p>

<p>
What surprised me was the choice I was offered. Normally, it's either accept all
cookies vs. leave the site, or the ability to turn off some unnecessary tracking
cookies. In this case, one option was the classic "Agree and Continue", but the
second was "Decline and visit plain text site".
</p>

<p>
Not "Decline and go away". Not "Decline and never speak to us ever again". But
"Decline and visit plain text site".
</p>

<p>
Wait, so I can use a streamlined, easy to read, nondistracting version of your
website <em>and</em> not be tracked by multinational advertising megacorps?
<a href="https://text.npr.org/">Nice</a>.
</p>

<h3>Other small big sites</h3>
<p>
Turns out this text-only version has been around since 2005.  CNN also has a
<a href="https://lite.cnn.io">text-only version</a>, though it's not as easy to
find. It also includes analytics javascript which is not as cool as NPR's pure
HTML. In both cases, these light versions were created to make news accessible
in locations or times with low connectivity &mdash; for example during natural
disasters.
</p>

<p>
As much as I'm not a fan of Facebook, I'm very impressed with
<a href="https://mbasic.facebook.com/">mbasic.facebook.com</a>. This is a
minimal, no-ads, no-javascript version of the service, that offers most of the
functionality of the full website or app. It was created with emerging markets
in mind, but I find it to be a good daily driver that doesn't distract and suck
away attention as much as Facebook's products normally are supposed to.
</p>

<p>
To mention a few other big sites with very minimalist design,
<a href="https://news.ycombinator.com/">Hacker News</a> is a news aggregator
known by all in the tech community that relies on minimal javascript and is
mostly text-based. Warren Buffett didn't shell out much on the design for
Berkshire Hathaway's <a href="https://www.berkshirehathaway.com/">corporate
website</a>.
</p>
