title: Introducing Martin's Sunday Corner
date: July 25, 2021 15:55
---
<p>
I spent Friday night implementing a new part of my website:
<a href='<%= path_to 'sunday' %>'>Martin's Sunday Corner</a>. It's going to be
a list of thoughts from the past week available once a week on Sundays. Think of
it like a once-a-week ephemeral microblog. A Twitter without any of the features
of Twitter. Or any of its limitations.
</p>

<p>
You can try to access the page on other days but there's no use, you'll just be
told to return next Sunday.
</p>

<p>
For now I'm going to treat this as an experiment. I'm not sure how long I'll
keep it running, but I'm hoping it's going to be light enough for me to not need
to care about it much. I won't mind if it remains empty some weeks, but if it
stays empty for weeks in a row, I'll probably shut it down and consider the
experiment as failed.
</p>

<p>
The Corner is going to be an outlet for

<ul>
  <li> random thoughts </li>
  <li> musings </li>
  <li> small updates </li>
  <li> tiny poems or jokes; why not? </li>
  <li>
    maybe small rants? I don't usually complain much, but maybe that's just
    because I've never had a good place to do so at.
  </li>
</ul>
</p>

<p>
I hope the ephemerality of this project will help me be more off-the-cuff and
share thoughts that I normally wouldn't in full blog posts. And, assuming this
actually leads to me thinking and sharing more thoughts, maybe it will
additionally lead to more interesting ideas that can evolve into full articles.
</p>

<h3>Anti Social Media</h3>
<p>
This experiment is anti social media. Not in the sense that it's anti social
&mdash; quite the opposite, since as always you are welcome to email me if you
have any comments about anything I've written, and that includes anything you
happen to see in the Corner. It's anti social media in the sense of being
opposed to
<a href='<%= path_to 'blog_its-not-social-media-its-marketing-medial' %>'>
  "social"
</a> media.
</p>

<p>
Social media tries to keep you hooked in as long as possible every day. It wants
to bombard you with all sorts of random content, then learn which of it sticks.
The Corner is available only one day a week. Once you've seen a Sunday's
contents, there's no reason to stay on the page, to refresh, to wait for a
notification (none will come). You'll have to wait until next Sunday for fresh
thoughts from a new week. The thoughts will all come from me. They might be
boring, they won't be targeted, you might not relate to most of them. I might
even write some of them in Polish so who knows if you'll be able to read them.
</p>

<h3>Technical</h3>
<p>
The Corner is implemented as a CGI script written in Ruby. You can find the
source code <a href='<%= git 'sunday' %>'>here</a>. Feel free to copy my code or
implement a similar idea for your own personal website!
</p>

<p>
I also just wrote an
<a href='https://landchad.net/cgi/'>article for LandChad</a> about CGI
scripting, if you're interested in CGI scripting in general. The example used
there is in concept very similar to the Corner.
</p>
