title: Termite Has Been Deprecated
date: May 08, 2021 22:23
---
<p>
I have been using <a href='https://github.com/thestinger/termite'>termite</a> as
my daily driver terminal emulator for over five years now. Turns out that its
creator and maintainer just announced that he's stopping development and
abandoning the project. The reason?
<a href='https://github.com/alacritty/alacritty'>Alacritty</a>, another terminal
emulator, by termite maintainer's own judgment, is basically strictly better.
</p>

<p>
My main reasons for using termite were its minimalistic design, keyboard-driven,
vi-like selection mode, and easy configuration. Alacritty, turns out, does all
of these, while also being faster and more secure.
</p>

<h3>Switching to alacritty</h3>
<p>
On first hearing this, I immediately installed alacritty, just to check out if
it really is a viable option for me. Before the installation completed, my first
instinct was that I would have probably needed about a week or so to tweak my
config and get used to the interface. I was expecting some switching friction.
</p>

<p>
Turns out there was zero friction.  After 5 minutes of test running, I'd set
alacritty to be my default terminal. I'm writing this post from inside
it, and I don't even notice the difference, other than a slightly darker default
color scheme. The vi-like selection mode is still at the familiar
<code>ctrl+shift+space</code> keybinding, and it seems like that was the biggest
termite-specific feature I was used to.
</p>

<p>
If anything, I'm already seeing big improvements when compared to termite.
Specifically, the vi mode in termite had slight annoying issues: jumping by word
didn't always work exactly the way I expected it to, and when copying selected
text, the cursor actually had to be <em>one</em> character right of the last
character you wanted to copy. I'm not seeing these issues with alacritty's
vi mode, and so far it feels even more intuitive than termite's.
</p>

<h3>Bonus tip: terminal vs. ssh</h3>
<p>
On the occasion of getting a new terminal, I'm reminded of a very useful
<a href='https://www.yaroslavps.com/weblog/fix-broken-terminal-ssh/'>
  blogpost by Yaroslav de la Peña Smirnov
</a> thanks to which I solved a mild annoyance I've had with termite for years.
Basically, when logging into an ssh session on various machines from termite, I
would have weird problems in the shell, the remote machine apparently not
understanding how to communicate properly with my terminal. This would make
commands like <code>clear</code> or <code>tmux</code> not work, or even more
annoyingly, cursor navigation and erasing characters with backspace were broken.
</p>

<p>
Previously, I had fixed this by hacking environment variables, but you can solve
it much more cleanly with the following:
<pre>
# on your local machine:
infocmp $TERM &gt; $TERM.terminfo
scp $TERM.terminfo &lt;remote machine&gt;:~/

# on remote machine:
tic -x $TERM.terminfo
</pre>
</p>

<p>
I had to repeat this little ritual with alacritty and the remote machines I
frequent, and now everything is working smoothly!
</p>
