title: The NFT+VR Cash Grab
date: December 29, 2021 20:32
---
<p>
I used to play Team Fortress 2, a 3D hat simulator also known for having a
decent team based first person shooter included as a mini game. The game, and
gameplay time on official servers, was offered for free, but Valve still made a
ton of money by selling cosmetic items to players. I don't play games these
days, but from what I hear, there are many other modern games like League of
Legends or Fortnite whose business models center around selling player skins.
</p>

<p>
Making money off of video game skins is a very shrewd idea: you pay for a few
hours of a graphic designer's time, and from then on can sell limitless copies
of the item, each sale being instantaneous, requiring no shipping, no storage,
no store front. If you're able to pull it off, it's better than print-on-demand
or drop shipping.
</p>

<p>
But so far this sort of model has been mostly limited to gaming. This is a very
specific demographic, mostly male, skews towards younger people, and even among
them, only the gamers most emotionally invested in the game will be willing to
spend money on cosmetic items.
</p>

<p>
Now, if Fortnite skin sales can support a large development studio that then
ends up with enough money for some of the craziest marketing stunts, imagine the
profits if you could widen the demographic from "gamer" to "your average
internet user".
</p>

<p>
This is exactly the opportunity that Zuck and others are investing billions of
dollars into under the memes of VR and NFTs. By directing your average internet
user into a virtual reality as a primary means of interacting with social
circles, work, and digital media, and doing so in an anthropomorphized avatar (a
word that became increasingly creepy with each repetition of it from Zuck's
mouth during the Meta announcement), Meta and others focused on VR will create
emotional attachment to a gamified reality where products can be produced even
more cheaply than previously possible with humid sweatshops and child labor.
</p>

<p>
VR didn't succeed at first because it was just a gimmick that made some people
puke, but there wasn't enough profit to be made for companies to keep investing
into research and development around it. With the perfect storm of "NFT"
becoming the hottest Silicon Valley buzzword and more people switching to a
work-from-home lifestyle, some of the tech opportunists, including Zuck, must
have finally put 2 and 2 together, finally seeing a reason to begin pumping cash
into VR again.
</p>

<p>
The medium is the message. It is far less important what VR will be used for (it
will still be just social media, online shopping, communications, gaming, and
other entertainment, like current technologies), far more important how it can
be used to affect people and their behaviors.
</p>

<p>
Furthermore, do not get your hopes up thinking that by embracing NFTs, Facebook
or any other big tech silo is going to move towards decentralization. "NFT" just
stands for "non-fungible token", there's nothing about decentralization in the
name. Do you really think Zuck will use decentralized, trustless, uncensorable
protocols like Ethereum, or will it be safer (from his profits' perspective) to
put everything on Libra/Diem, or even more likely, just chuck it all in a
database? Oh, Zuck promised you interoperability with other "metaverse"
protocols? Yeah, that's just going to be an API hosted in Meta's data centers.
</p>

<p>
TF2 hats are NFTs. Fortnite skins are NFTs. To illustrate the point, this post
is now an NFT, running on the m-chrzan.xyz ledger.
</p>

<p>
I'm air dropping it to Tom Fasano. The bottom of this post will work as a public
block explorer of the ledger. If the current owner of the NFT wants to transfer
it, he or she should email me and provide me with acceptable contact details
(ideally email+PGP key or an XMPP address) of the new owner.
</p>

<p>
For those curious about technical details of the m-chrzan.xyz ledger, here is
the whitepaper:

<blockquote>
  The m-chrzan.xyz ledger is based on novel PoM (Proof of Martin) technology.
  The ledger is guaranteed to be secure and live as long as 100% of the Martins
  running it act honestly and maintain uptime.
</blockquote>
</p>

<h3> The m-chrzan.xyz Ledger: </h3>

<p>
History of ownership of the m-chrzan.xyz/blog/the-nft-vr-cash-grab.html NFT:

<ol>
  <li>Tom Fasano (minted on December 29, 2021)</li>
</ol>
