title: Vim Keybindings for Newsboat
date: November 21, 2019 21:36
---

<p>
Put in <code>~/.config/newsboat/config</code>.

<pre>
# jk - move up/down
unbind-key j
unbind-key k
bind-key j down
bind-key k up

# hl - move in/out of feeds/articles
bind-key h quit
bind-key l open

# q quits the program
unbind-key q
bind-key q hard-quit

# g/G to go to top/bottom
unbind-key g
unbind-key G
bind-key g home
bind-key G end

# f to follow links (like qutebrowser)
unbind-key f
bind-key f goto-url
</pre>
</p>
