title: Welcome!
date: June 26, 2019
---
<p>
Hello, internet! In the spirit of
<a href='http://www.alwaysownyourplatform.com/'>
<pre>
(•_•)
&lt;)  )╯Always
/  \

\(•_•)
 (  (&gt;  Own
 /  \

 (•_•)
&lt;)  )&gt;  Your Platform
 /  \
</pre>
</a>
I've decided to launch my own website and blog.
</p>
<p>
In the spirit of minimalism, it's (as you can see) very bare-bones.
</p>
<p>
In the spirit of self-reliance, it's built with a custom static site generator
(which is really just a few glorified Ruby scripts) that (again, in the spirit
of minimalism) do only what I need them to do (and hopefully do so well!).
