title: Why is all music in 4/4?
date: December 12, 2021 10:49
---
<p>
It is a favorite pastime for music aficionados (where music aficionado =
someone who listens to something other than Top 40 and knows two things about
music theory) to bemoan the tragic state of modern music, specifically the fact
that everything sounds the same. Same chord progressions, rhythms, song
structure. The reason why this happened is fairly obvious: the genesis of a
music industry created an optimization problem, and we're living in a time where
this is a mostly solved problem. It's cheaper to produce a thousand items from a
plastic injection mould than carve each piece by hand. It's more scalable to
sell the same music globally than cultivate local traditions.
</p>

<p>
But there is a second, more technical <i>why</i> question we could ask: why did
modern music arrive at the specific qualities it arrived at? I want to posit a
potential, partial reason for why all songs on the radio are in a 4/4 time
signature.  The idea to write this came to while thinking about whether Polish
traditional music could have evolved into something popular with the modern
masses, the way Negro spirituals evolved into blues, evolved into rock.
</p>

<p>
Much of Polish music, before it became replaced by Western influences, was based
on 3/4 rhythms. The wild, trance-like spinning of the <i>mazurek</i> and
<i>oberek</i>, or the slower, more waltz-like <i>kujawiak</i> are all counted in
3. Why could these rhythms not survive the musical revolutions of the mid 20th
century?
</p>

<p>
It is not for a lack of energy and liveliness in the music. Just look at the
sort of a musical fire an old man from a small village can spark up with a
fiddle: <a href="https://www.youtube.com/watch?v=io-RC6USnyk">
www.youtube.com/watch?v=io-RC6USnyk</a>. It's not even necessarily the crazy,
non uniform rhythms of the music that would have been a problem. Should the
mazurek have been destined to influence modern popular music, the industry would
have watered down and simplified its complexities for the shopping center
visitor's ears. That of course would have been a great disservice to the music
and I'm glad it didn't happen, but it was possible.
</p>

<p>
The problem I see is technical, and comes down to the fundamental design of the
mazurek, its purpose being contrary to what is necessary for modern popular
success. So let's first talk about the technical requirements of modern music.
</p>

<p>
During the 20th century music became an entertainment product for individuals.
It is a music you listen to on the radio while cleaning the house, in headphones
on a commute. You don't go to a concert just to spend time with friends, but in
large part to have an individual experience of the music. To say "<i>I</i> was
there, <i>I</i> heard them, <i>I</i> saw them". Of course there is still a
social aspect to concert-going, but in centuries past, it was the primary aspect
of music making. It was a social glue and lubricant in the same way as alcohol.
These days when you go to a concert, you sit or stand in your own spot, facing
the stage, and experiencing the music on your own, inside your own mind, inside
your own body. Maybe jumping up and down with the rest of the crowd, but you're
doing the jumping by yourself.
</p>

<p>
You can't jump to an oberek in a mosh pit under the stage. It simply won't work.
If you jump on every beat, it will be too fast. If once a measure, it's going to
be awkward and too slow. Either way, it's just not going to feel right. The
oberek is a dance fundamentally designed to be danced spinning with a partner.
That's what the accents guide you towards. There is a flywheel effect of one
partner leading in one measure, the other in the other measure. It simply is not
a music for individuals. And that's a good thing.
</p>
