<p>
Subscribe with <a href='<%= path_to 'rss' %>'>RSS</a>
</p>
<ul>
<% posts.each do |post| -%>
  <li>
    <a href=<%= path_to post['id'] %>><%= post['title'] %></a> <%= format_date post['date'] %>
  </li>
<% end -%>
</ul>
