<p>
<table style='table-layout: fixed; width: 100%;'>
  <tr>
    <td style='width: 7em;'>Email</td>
    <td>
      <a href="mailto:m@m-chrzan.xyz"><code>m@m-chrzan.xyz</code></a>
    </td>
  </tr>
  <tr>
    <td>PGP key</td>
    <td style='overflow: scroll;'>
      <a href="<%= path_to 'key' %>"><code>4073&nbsp;3DD6&nbsp;B370&nbsp;C1C5&nbsp;1DE0&nbsp;C1A8&nbsp;2991&nbsp;A902&nbsp;D020&nbsp;9F38</code></a>
    </td>
  </tr>
  <tr>
    <td>XMPP</td>
    <td>
      <a href="xmpp:m@m-chrzan.xyz"><code>m@m-chrzan.xyz</code></a>
    </td>
  </tr>
</table>
</p>
