<p>
If you would like to show appreciation for anything from me you enjoyed or found
useful, I'll be very grateful for any donations, big or small!
</p>

<details open>
  <summary>
    <strong>Crypto</strong> (click address to copy)
  </summary>
  <table style='table-layout: fixed; width: 100%;'>
    <tr>
      <td style='width: 14em;'>OpenAlias (BTC/XMR)</td>
      <td>
        <a><code onclick="copy('oa')">m-chrzan.xyz</code></a>
        <input type='text' id='oa' value='m-chrzan.xyz' hidden></input>
      </td>
    </tr>

    <tr>
      <td>BTC</td>
      <td style='overflow: scroll'>
        <a><code onclick="copy('btc')">15CRCVx5okbTDwU6M4kmA1JGTimtFkZFak</code></a>
        <input type='text' id='btc' value='15CRCVx5okbTDwU6M4kmA1JGTimtFkZFak' hidden></input>
      </td>
    </tr>

    <tr>
      <td>XMR</td>
      <td style='overflow: scroll;'>
        <a><code onclick='copy("xmr")'>
          43a9nnjbS38daKSM7reXJE3CydjZMxdj6Yu4YLvP1zN7TfrHGBjiEKy6PPAuznSYpG6Af1ip6qBkn85Lahtqj7fZVQKMdJu
        </code></a>
        <input type='text' id='xmr' value='43a9nnjbS38daKSM7reXJE3CydjZMxdj6Yu4YLvP1zN7TfrHGBjiEKy6PPAuznSYpG6Af1ip6qBkn85Lahtqj7fZVQKMdJu' hidden></input>
      </td>
    </tr>

    <tr>
      <td>ETH and Ethereum tokens</td>
      <td style='overflow: scroll'>
        <a><code onclick='copy("eth")'>0x8370f8De24c4Dc0459CF22DAaAe259f89A03e626</code></a>
        <input type='text' id='eth' value='0x8370f8De24c4Dc0459CF22DAaAe259f89A03e626' hidden></input>
      </td>
    </tr>

    <tr>
      <td>CELO and Celo tokens</td>
      <td style='overflow: scroll'>
        <a><code onclick='copy("celo")'>0x207a9efcf1114f7cbc110526689f9cb417a7bfc8</code></a>
        <input type='text' id='celo' value='0x207a9efcf1114f7cbc110526689f9cb417a7bfc8' hidden></input>
      </td>
    </tr>

    <tr>
      <td>DOGE</td>
      <td style='overflow: scroll'>
        <a><code onclick='copy("doge")'>DDBsGmC5L55LUAUoHZAZJkb12m1ZUetTBS</code></a>
        <input type='text' id='doge' value='DDBsGmC5L55LUAUoHZAZJkb12m1ZUetTBS' hidden></input>
      </td>
    </tr>
  </table>
</details>

<details>
  <summary>
  <strong>BAT</strong>
  </summary>

  <p>
  This website is part of the Brave Rewards program. If you read my website with
  Brave with ads and/or auto-contribute enabled, you may have already contributed
  some BAT. Thank you! You can also configure monthly contributions or send
  one-time tips inside the Brave browser.
  </p>
</details>

<details>
  <summary><strong>Affiliate links</strong></summary>
  <h3><a href='https://www.vultr.com/?ref=8782719-6G'>Vultr</a></h3>
  <p>
  If you would like to host your own website or other services, you can get
  started very cheaply with a $3.50/month VPS provided by Vultr. If you use my
  <a href='https://www.vultr.com/?ref=8782719-6G'>referral link</a> to sign up,
  you'll get some starter credit, and if you fund your account with $25 and are
  active for 30 days, I'll receive some credit that will help keep this website
  up.
  </p>
</details>

<script>
  function copy(id) {
    const text = document.getElementById(id)
    text.hidden=false
    text.select()
    text.setSelectionRange(0, 9999)
    document.execCommand("copy")
    text.hidden=true
  }
</script>
