<p>
  I am a software engineer, writing smart contracts and other fun things
  for <a href='https://celo.org'>Celo</a>. I'm currently pursuing a master's
  degree in CS at the University of Warsaw, where I previously got my
  bachelor's.
</p>

<h2>Recent posts <a style='font-size: 18px;' href='<%= path_to 'rss' %>'>(RSS)</a>:</h2>

<ul>
<% posts.take(5).each do |post| -%>
  <li>
    <a href='<%= path_to post['id'] %>'><%= post['title'] %></a> <%= format_date post['date'] %>
  </li>
<% end -%>
</ul>

<hr />

<ul class='links'>
  <li><a href='<%= path_to 'contact' %>'>Contact</a></li>
  <li><a href='https://git.m-chrzan.xyz'>Code</a></li>
  <li><a href='<%= path_to 'links' %>'>Links</a></li>
  <li><a href='<%= path_to 'donate' %>'>Donate</a></li>
</ul>
