<p>
Here are some websites I follow or enjoy visiting from time to time.
</p>

<ul style='column-count: 2;'>
  <li> <a href='https://lukesmith.xyz'>Luke Smith</a> </li>
  <li> <a href='https://jacobwsmith.xyz'>Jacob Smith</a> </li>
  <li> <a href='https://tomfasano.net'>Tom Fasano</a> </li>
  <li>
    <a href='https://www.youtube.com/channel/UCJIIMmCfJxBv5-jGTK3iIMw/videos'>
      Chad Haag's Channel
    </a>
  </li>
  <li> <a href='https://houseofedwards.xyz/index.html'>House of Edwards</a> </li>
  <li>
    <a href='https://www.yaroslavps.com/'>Yaroslav de la Peña Smirnov</a>
  </li>
  <li> <a href='https://michaelc.xyz/'>Michael from Texas</a> </li>
  <li>
    <a href='https://cheapskatesguide.org/'>
      The Cheapskate's Guide to Computers and the Internet
    </a>
  </li>
  <li> <a href='https://solar.lowtechmagazine.com/'>Low←Tech Magazine</a> </li>
  <li> <a href='https://arjunyadav.xyz'>Arjun Yadav</a> </li>
  <li> <a href='https://tdarb.org/'>Brad Taunt</a> </li>
  <li> <a href='https://unixsheikh.com/'>Unix Sheikh</a> </li>
</ul>

<p>
If you'd like to link to my website and enjoy using 88x31 buttons,
<a href='<%= path_to 'button' %>'>here's</a> a silly one I made:
</p>
<center>
  <a href='<%= path_to 'index' %>'><image src='<%= path_to 'button' %>' /></a>
</center>
