<h2 style='display: inline'><%= post['title'] %></h2> (<%= format_date post['date'] %>)

<%= post['content'] %>

<p class='post-footer'>
If you have any questions or comments about this post or site in general, feel
free to <a href="mailto:<%= Email %>">email me</a>.
</p>
