<p>
You can find my most useful and interesting projects
<a href='https://git.m-chrzan.xyz'>here</a>. Mirrors of these and some
additional code can be found on my <a href='https://github.com/m-chrzan'>GitHub
</a> and <a href='https://gitlab.com/m-chrzan'>GitLab</a> profiles.
</p>

<ul>
    <li><a href='https://tuturutu.net'>tuturutu.net</a>: a songbook of
        traditional Polish music.
        <a href='<%= path_to 'blog_i-made-a-songbook' %>' >[blog]</a>
        <a href='<%= git 'tuturutu' %>'>[source]</a>
    </li>
    <li><a href='https://nocss.club'>No CSS Club</a>: a club so exclusive, even
      the founder isn't a member of it.
    </li>
    <li><a href='<%= git 'website' %>'>This website</a>: a small
        mess of simple scripts for static site generation. I probably should've
        used Jekyll, but I wanted to play around and build something minimal for
        personal use. I'm not a webdev.
    </li>
    <li><a href='<%= path_to 'thesis' %>'>MSO Query Answering on Trees</a>: my
      master's thesis.
      <a href='<%= git 'mgr' %>'>[source]</a>
      <a href='<%= path_to 'thesis-slides' %>'>[slides]</a>
    <li><a href='<%= git 'dicebag' %>'>Dicebag</a>: a dice
        expression parser and roller.
    </li>
    <li>Hex Curler: a minimal webgame to be
        played with <code>curl</code>.
        <a href='<%= path_to 'blog_hex-curler' %>' >[blog]</a>
        <a href='<%= git 'hex-curler' %>'>[source]</a>
    </li>
</ul>
