<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">

<channel>
<title>Martin's Blog</title>
<description>Random writings and notes from Martin's keyboard to your screen.</description>
<language>en-us</language>
<link>http://m-chrzan.xyz/rss.xml</link>
<atom:link href="http://m-chrzan.xyz/rss.xml" rel="self" type="application/rss+xml" />

<% posts.each do |post| %>
  <item>
  <title><%= post['title'] %></title>
  <guid>http://m-chrzan.xyz/<%= post['html_filename'] %></guid>
  <pubDate><%= post['date'] %></pubDate>
  <description><![CDATA[
    <%= post['content'] %>
  ]]></description>
  </item>
<% end %>
</channel>
</rss>
