<!DOCTYPE html>
<html lang=en>
<head>
  <title><%= head_title %></title>
  <link rel='stylesheet' type='text/css' href='<%= path_to 'style' %>'>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1><%= h1_title %></h1>

<hr />

<ul class='links'>
  <li><a href='<%= path_to 'index' %>'>Home</a></li>
  <li><a href='<%= path_to 'blog' %>'>Blog</a></li>
  <li><a href='<%= path_to 'projects' %>'>Projects</a></li>
  <li><a href='<%= path_to 'sunday' %>'>Sunday Corner</a></li>
</ul>

<hr />

<%= content -%>

</body>
</html>
